.slideDiv{
    height: 400px;
    width: auto;
    border-radius: 8px;
}

// .slideDiv:nth-child(1){
//     background: red;
// }

// .slideDiv:nth-child(2){
//     background: #73ff00;
// }

// .slideDiv:nth-child(3){
//     background: #5639ff;
// }