<ion-header [translucent]="true">
  <ion-toolbar style="height: 36px;" color="dark" />
  <ion-toolbar color="warning">
    <ion-title>Paltics Dashboard</ion-title>
    <ion-button shape="round" style="margin-right: 10px;" slot="end"><ion-icon slot="icon-only" name="person"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card mode=ios>
    <ion-item-divider mode="md"><ion-label>Patient Analytics</ion-label></ion-item-divider>
    <ion-card-content mode="md">

    </ion-card-content>
  </ion-card>





  









  <ion-button shape="round" style="position: fixed;bottom: 80px;right: 10px;" routerLink="/registration">
    Registration <ion-icon slot="end" name="document-text"></ion-icon></ion-button>

  <ion-button shape="round" style="position: fixed;bottom: 10px;right: 10px;;" routerLink="/search">
    Search <ion-icon slot="end" name="search"></ion-icon></ion-button>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-footer> -->
